.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    background: var(--primary_03);
    padding: 18px 0;
}

.time {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white);
}

.location {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white);
}

.follow {
    display: flex;
    align-items: center;
    gap: 25px;
        svg {
            cursor: pointer;
             &:hover {
                transform: scale(1.1);
                path {
                    fill: var(--primary_01);
                }
             }
        }
}