.background {
    display: grid;
    align-items: center;
    padding: 170px 0;
    background-color: var(--secondary_01);
}

.container {
    display: grid;
    align-items: flex-start;
    justify-items: center;
    gap: 8px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 24px;
    border-radius: 20px;
    padding: 0px 16px 0px 16px;
    background-color: var(--primary_02);
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 23.6px;
    color: var(--secondary_02);
}

.title {
    width: 782px;
    font-size: 45px;
    font-weight: 700;
    line-height: 52.2px;
    color: var(--primary_03);
    text-align: center;
}

.services_list {
    margin-top: 30px;
    display: grid;
    width: 1200px;
    height: 668px;
    grid-template-columns: repeat(3, 387px);
    grid-template-rows: repeat(2, 324px);
    gap: 20px 13px;
}

.card {
    display: grid;
    gap: 10px;
    padding: 49px 47px;
    border-radius: 20px;
    background: rgba(235, 235, 235, 1);
}

.card_title { 
    font-size: 25px;
    font-weight: 600;
    line-height: 29px;
    color: var(--primary_03);
}

.card_text {
    font-size: 16px;
    line-height: 23.6px;
    color: var(--secondary_03);
}